/* Page styles */
body {
	background: #f5e9d2;
	color: #444;
	color: hsla(0,0%,0%,.75);
	font-size: 100%;
	padding: 1em;
	margin: 0 auto;
	max-width: 30em;
	font-family: 'Bookman Old Style', Georgia, serif;
	text-shadow: 0 1px 0 hsla(0,0%,100%,.3);
	}

h1 {
	margin: 0 0 1em;
	line-height: 1.1;
	text-align: center;
	font-size: 2.4em;
	font-weight: normal;
	font-family: 'Palatino Linotype', Georgia, serif;
	text-shadow: 0 1px 0 hsla(0,0%,100%,.5);
	}

p {
	margin: 0 0 1em;
	line-height: 1.75;
	font-size: 1.15em;
	}

/* Typography */
abbr {
	font-size: 0.875em;
	letter-spacing: 0.15em;
	margin-right: -0.15em;
	}

.amp {
	font-family: Baskerville, Constantia, Palatino, 'Palatino Linotype', 'Book Antiqua', serif;
	font-style: italic;
	}

.sbrace {
	margin-right: 0.3em;
	}
.hbrace {
	margin-left: -0.3em;
	}
.slaquo {
	margin-right: 0.42em;
	}
.hlaquo {
	margin-left: -0.42em;
	}
