coverage/
node_modules/

# prevents commit of build files at the root of packages
packages/*/*.js

# allows commit of babel.config.js in packages
!packages/*/*.config.js

.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.log
.eslintcache
