{
	"useTabs": true,
	"singleQuote": true,
	"overrides": [
		{
			"files": "*.md",
			"options": {
				"arrowParens": "avoid",
				"printWidth": 70,
				"useTabs": false,
				"trailingComma": "none"
			}
		}
	]
}
